<!DOCTYPE html>
<html>
<head>
    <title>Biologie Onderzoek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
</head>
<body>

    <div class="container">
        <h1>We zijn u dankbaar!</h1>
        <h2>Met deze reslaten zullen wij nu ons onderzoek kunnen voor zetten!</h2>   
    </div>

    <div class="disclamer">
	    <h3>Met vriendelijke groet: Ybe, Elif & Mikail</h3>  
    </div>

</body>
</html>